::-webkit-scrollbar
{
  width: 5px; 
  height: 5px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.3);
}

html{
	overflow-y: scroll;
}

body{
	background-color:#f6f6f6;
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
	color:#333333;
}


/* Navigation bar*/
ul{
	list-style-type:none;
	background-color:white;
	width:850px;
	margin:auto;
}

nav{
	background-color:white;
	width:100%;
	position:fixed;
	top:0px;
}

li img{
	width:40px;
	padding-bottom:10px;
	padding-top:10px;
	float:left;
	position:relative;
	left:-60px;
}

#menu a{
	padding-top:5px;
	float:right;
}

li a{
	text-decoration:none;
	color:#414042;
	padding-left:20px;
}

#top a:hover, li a:hover{
	color:#7876b7;
}

li a:hover{
	text-decoration:underline;
}

#book{
	padding-top:100px;
	width:800px;
	margin:auto;
}

h2{
	font-size:30px;
}

h3{
	font-size:20px;
}

p{
	font-size:14px;
}

#book{
	width:700px;
	margin:auto;
}


img{
	padding-top:30px;
}
#mockup{
	width:800px;
	margin:auto;
}

#mockup h2{
	text-align:left;
}

#mockup img{
	width:600px;
	margin:auto;
}

#exercises{
	width:700px;
	text-align:center;
}

#exercises img{
	width:200px;
	padding-top:10px;
}

#exercises p{
	text-align:left;
	margin:auto;
}

#b1 img{
	width:250px;
	padding-right:10px;
}

#b2{
	width:500px;
	margin:auto;
}

#book2 img{
	width:400px;
}