::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.3);
}

html{
	overflow-y: scroll;
}

body{
	background-color:#f6f6f6;
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
	color:#333333;
}


/* Navigation bar*/
#menutotal{
  width:850px;
	margin:auto;
}

ul{
	list-style-type:none;
  position:relative;
  top:-15px;
  padding-right:50px;
}

nav{
	background-color:white;
	width:100%;
	position:fixed;
	top:0px;
}

#logo{
	height:17px;
	padding-bottom:10px;
	padding-top:15px;
	position: relative;
  left:50px;
}

#menu{
	padding-top:13px;
  position:absolute;
  right:50px;
  height:30px;
}

li{
  display:block;
  float:right;

}

li a{
	text-decoration:none;
	color:#414042;
	padding-left:20px;
}

#top a:hover, li a:hover{
	color:#ffcd3e;
}

li a:hover{
	text-decoration:underline;
}


/* top half of page with the hello box */
#top{
	height:100vh;
	background-color:#737373;
	padding-top:250px;
	border-bottom:solid;
	border-color:#ffcd3e;
	background-image:url("images/pattern.svg");
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

#top a{
	font-style: italic;
	text-decoration:none;
	color:white;
}

#top p{
	text-align:center;
	color:white;
	position:relative;
	top:-70px;
}

h1{
	font-family: 'Roboto', sans-serif;
	text-align:center;
	color:white;
	border-style:solid;
	width:300px;
	padding-top:30px;
	padding-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	background-color:rgba(255, 255, 255, 0.3);
}


/* Code for the square images at homepage */
#images{
	width:800px;
	height:580px;
	margin:auto;
	padding-top:30px;
}


#images img{
	width:250px;
	height:250px;
}

#app, #book, #game, #careerfair, #mask, #asid{
	height:250px;
	width:250px;
	float:left;
	padding-right:10px;
	padding-bottom:10px;
}



/* breaking up asid's hover because the name is too long and the code doesn't work on it. */

#app a, #book a, #game a, #careerfair a, #mask a{
	text-decoration:none;
	font-size:16pt;
	color:white;
	background-color:rgba(120, 118, 183, 0.5);
	position:relative;
	top:140px;
	padding-top:112px;
	padding-bottom:110px;
	font-weight:bold;
	opacity:0;
}

#asid a{
	text-decoration:none;
	font-size:16pt;
	color:white;
	background-color:rgba(120, 118, 183, 0.7);
	font-weight:bold;
	position:relative;
	top:140px;
	text-align:center;
	opacity:0;
	padding-top:112px;
	padding-bottom:110px;
}

#asidid{
	position:absolute;
	width:200px;
	padding-top:25px;
	right:20px;

}

#images a:hover{
	opacity:1;
	transition: opacity .35s ease-in-out;
   -moz-transition: opacity .35s ease-in-out;
   -webkit-transition: opacity .35s ease-in-out;
}


/* Image hovers */
#app a{
	padding-left:87px;
	padding-right:86.5px;
}


#book a{
	padding-left:7px;
	padding-right:6.5px;
}

#game a{
	padding-left:32px;
	padding-right:31.7px;
}

#careerfair a{
	padding-left:38px;
	padding-right:37px;
}

#mask a{
	padding-left:44px;
	padding-right:43px;
}


#asid a{
	padding-left:27px;
	padding-right:26.5px;
}


/* CSS for Resume Page */
#pdf{
	width:800px;
	margin:auto;
	padding-top:100px;
	padding-bottom:50px;
}
